{% extends 'main.html' %}

{% block title %}Create new event{% endblock %}

{% block content %}
  <form method="post" action=""> <!-- TODO new_event -->
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"> <br>
    <label for = "category">Category:</label>
    <select id="category" name="category">
    {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
    </select><br>
<!--    <table><tr><td><label for="sport">Sport:</label>-->
<!--      <input type="radio" id="sport" name="category" value="sport"></td>-->
<!--      <td><label for="cinema">Cinema:</label>-->
<!--      <input type="radio" id="cinema" name="category" value="cinema"></td>-->
<!--      <td><label for="talk_lecture">Talk & Lecture:</label>-->
<!--      <input type="radio" id="talk_lecture" name="category" value="talk_lecture"></td>-->
<!--      <td><label for="festival">Festival:</label>-->
<!--      <input type="radio" id="festival" name="category" value="festival"></td></tr><br>-->
<!--      <tr><td>-->
<!--      <label for="music">Music:</label>-->
<!--      <input type="radio" id="music" name="category" value="music"></td>-->
<!--      <td><label for="theater">Theater:</label>-->
<!--      <input type="radio" id="theater" name="category" value="theater"></td>-->
<!--      <td><label for="trip">Trip:</label>-->
<!--      <input type="radio" id="trip" name="category" value="trip"></td>-->
<!--      <td><label for="others">Others:</label>-->
<!--      <input type="radio" id="others" name="category" value="others"></td></tr><br>-->
<!--    </table><br>-->
    <label for="typeonline">Type online:</label>
    <input type="Checkbox" name="typeonline" id="typeonline"> <br>
    <label for="typefysical">Type fysical:</label>
    <input type="Checkbox" name="typefysical" id="typefysical"> <br>
    <label for="location">Location:</label>
    <input type="text" name="location" id="location"> <br>
    <label for="startdatetime">Date from:</label>
    <input type="datetime-local" name="startdatetime" id="startdatetime"> <br>
    <label for="enddatetime">Date till:</label>
    <input type="datetime-local" name="enddatetime" id="enddatetime"> <br>
    <label for="name">Organizer:</label>
    <input type="organizer" name="organizer" id="organizer"> <br>
    <label for="name">Photo:</label>
    <input type="file" name="upload" accept="*">
    <label for="descr">Description:</label>
    <input type="text" name="descr" id="descr"> <br>
    <button type="submit">Create</button>
  </form>
{% endblock %}