{% extends 'main.html' %}

{% block title %}Create new event{% endblock %}

{% block content %}
<form method="post" action="" enctype="multipart/form-data"> <!-- TODO new_event -->
   <table class="table">
        <!--    <div class="container-fluid">-->

            {% csrf_token %}
        <tr>
            <td><label for="name">Name:</label></td>
            <td><input class="cei" type="text" name="name" id="name"></td>
        </tr>
        <tr>
            <td><label for="category">Category:</label></td>
            <td><select class="cei" id="category" name="category">#}
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td><label for="typeonline">Type online:</label></td>
            <td><input class="cei" type="Checkbox" name="typeonline" id="typeonline"></td>
        </tr>
        <tr>
            <td><label for="typefysical">Type fysical:</label></td>
            <td><input class="cei" type="Checkbox" name="typefysical" id="typefysical"></td>
        </tr>
        <tr>
            <td><label for="location">Location:</label></td>
            <td><input class="cei" type="text" name="location" id="location"></td>
        </tr>
        <tr>
            <td><label for="startdatetime">Date from:</label></td>
            <td><input class="cei" type="datetime-local" name="startdatetime" id="startdatetime"></td>
        </tr>
        <tr>
            <td><label for="enddatetime">Date till:</label></td>
            <td><input class="cei" type="datetime-local" name="enddatetime" id="enddatetime"></td>
        </tr>
        <tr>
            <td><label for="name">Organizer:</label></td>
            <td><input class="cei" type="organizer" name="organizer" id="organizer"></td>
        </tr>
        <tr>
            <td><label for="name">Photo:</label></td>
            <td><input class="cei" type="file" name="upload" accept="*"></td>
        </tr>
        <tr>
            <td><label for="descr">Description:</label></td>
            <td><input class="cei" type="text" name="descr" id="descr"></td>
        </tr>


    </table>

           <button class="btn btn-dark large mx-xxl-5" type="submit">Create</button>

</form>
    {% endblock %}