{% extends 'main.html' %}

{% block title %}Event: {{ Event.name }} {% endblock %}

{% block content %}

<div class="name"> Event name: {{ event.name }}</div>
<!--TODO category -->
<div class="category"> Event category: {{ event.category }}</div>
<div class="typeonline"> Event type: {{ event.typeonline }}</div>
<div class="typefysical"> Event type: {{ event.typefysical }}</div>
<div class="location"> Location: {{ event.location }}</div>
<div class="startdatetime"> Date from: {{ event.startdatetime }}</div>
<div class="enddatetime"> Date till: {{ event.enddatetime }}</div>
<div class="organizer"> Organizer name: {{ event.organizer }}</div>
<div class="descr"> Description:{{ event.descr }}</div>
<div class="photo"> Photo:
  <a href="{{ event.photo }}"><img src="{{ event.photo }}" width="50px"></a>
</div>
<form method="post" action="">
     {% csrf_token %}

    {% if request.user in event.participants.all %}
         <label for="logout">I want to logout:</label>
         <input type="checkbox" name="logout" id="logout">
    {% else %}
        <label for="participate">I want to participate:</label>
        <input type="checkbox" name="participate" id="participate">
    {% endif %}
<button type="submit">Submit</button><br><br>
<div class="error">
{% if error %}Error: {{ error }}	{% endif %}
</div>
</form>

{% if event.user.id == request.user.id %}
    <a href="{% url 'edit_event' %}">EDIT EVENT</a>
{% endif %}
{% if event.host.id == request.user.id %}
{% for participant in event.participants.all %}
   {{ participant }} <br>
{% endfor %}
{% endif %}
<div class="message-form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="body">Message: </label>
            <textarea name="body" id="body" rows="1" cols="100"> </textarea>
            <input type="file" name="upload" accept="*">  <!-- accept=".doc, .pdf, .txt ,image/*,*" -->
            <input type="submit" value="Send">
        </form>
</div>

    <div class="messages-box">
    {% for message in messages %}
        {% if message.user == request.user %}
            <div class="my-message">
                <div class="my-message-info">
                    <span class="message-user">{{ message.user }}</span>
                    <span class="message-time">{{ message.created }}</span>
                </div>
                <div class="my-message-body">{{ message.body }}</div>
                {% if message.file %}  <!-- zobrazit obrázek -->
                    <div class="my-message-file">
                        <a href="{{ message.file }}"><img src="{{ message.file }}" width="50px"></a>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="other-message">
                <div class="other-message-info">
                    <span class="message-user">{{ message.user }}</span>
                    <span class="message-time">{{ message.created }}</span>
                </div>
                <div class="other-message-body">{{ message.body }}</div>
                {% if message.file %}  <!-- zobrazit obrázek -->
                    <div class="other-message-file">
                        <a href="{{ message.file }}"><img src="{{ message.file }}" width="50px"></a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}










