{% extends 'main.html' %}

{% load static %}

{% block title %}Event - events{% endblock %}

{% block content %}
    <div class="list-of-events">List of events:</div>
    <div class="events-list">
        <ul>
            {% for event in events %}
            <li>
                <a href="{% url 'event' event.id %}">{{ event.name }}</a> {{ event.descr }}
                {% if event.host %}
                    Host: {{ event.host }}
                    {% if event.host.id == request.user.id %}  <!-- Pokud je aktuálně přihlášený uživatel "majitel" místnosti -->
                        <a href="{% url 'delete_event' event.id %}">
                            <img src="{% static 'event/cross.png'%}" alt='delete' width="12px"></a>
                        <a href="{% url 'edit_event' event.id %}">edit ✎</a>

                    {% endif %}
                {% endif %}
                {% if event.participants_count > 0 %}
                    ({{ event.participants_count }} participants)
                {% else %}
                    (no participants joined )
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
